In [1]:
from mthly_inforce_file import InforceFile
from pandas import DataFrame as df
from typing import Optional, Union
from datetime import datetime, date
from pathlib import Path
import pandas as pd
from os import path
import datetime
import typing
import time
import os

pd.options.display.float_format = "{:,.2f}".format
pd.options.mode.copy_on_write = True

from mthly_inforce_file import InforceFile

%load_ext autoreload
%autoreload 2

In [68]:
dec_inf_file = r'C:\Users\S0053071\Repos\Orion_Process_Backup\RGA_Process\12_2024_IUL_Fund_Values_RGA.txt'
jan_inf_file = r'C:\Users\S0053071\Repos\Orion_Process_Backup\RGA_Process\01_2025_IUL_Fund_Values_RGA.txt'
rename_file = r'G:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\Inforce_FieldName_Map.csv'
hdgdts_file = r'G:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\HedgeDates.csv'
hdgfctr_lu_file = r'G:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\HdgFctrLU.csv'

In [8]:
dec_inf = InforceFile(dec_inf_file)

Reading in Helper Dataframes (used for static lookups to obtain values for related fields)
REMINDER TO UPDATE NEW BUDGET INFO in Static_Assumptions Folder for ProductDetailsByHedgeDate.csv!!!
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\HedgeDates.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\HdgFctrLU.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\CoPlanInd_to_Prod.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\FundID_to_Indicator.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\ProductDetailsByHedgeDate.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\Indicator_to_FundName.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\Inforce_FieldName_Map.csv
Converting Static Assum DataFrame Dates to Datetime.Date
Going on the assumption that inforce data in C:\Users\S0053071\Repos\Orion_Process_Backup\RGA_Process\12_2024_IUL_Fund_Values_RGA.txt is consistent with the inforce date of 2024-12-01
Importing Inforce Txt File
Time Reading Inforce File: 0 mins 13 secs

In [69]:
raw_inf_df = dec_inf.raw_inforce_df
dec_inf_df = dec_inf.raw_inforce_df

In [70]:
jan_inf = InforceFile(jan_inf_file)
jan_inf_df = jan_inf.raw_inforce_df

Reading in Helper Dataframes (used for static lookups to obtain values for related fields)
REMINDER TO UPDATE NEW BUDGET INFO in Static_Assumptions Folder for ProductDetailsByHedgeDate.csv!!!
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\HedgeDates.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\HdgFctrLU.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\CoPlanInd_to_Prod.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\FundID_to_Indicator.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\ProductDetailsByHedgeDate.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\Indicator_to_FundName.csv
Reading Data from g:\MarketRiskMgmt\Pricing Requests\2024-Orion - IUL Hedging\RGA_Process\1_Code\Static_Assumptions\Inforce_FieldName_Map.csv
Converting Static Assum DataFrame Dates to Datetime.Date
Going on the assumption that inforce data in C:\Users\S0053071\Repos\Orion_Process_Backup\RGA_Process\01_2025_IUL_Fund_Values_RGA.txt is consistent with the inforce date of 2025-01-01
Importing Inforce Txt File
Time Reading Inforce File: 0 mins 13 secs

In [71]:
dec_inf_df

,InforceDt,AsOfDt,CompID,PolicyNum,PHA_Num,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
0,2023-11-01,2024-11-23,1,UE000006,82,1U145500,INX150,NaN,19.65,2023-11-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,NaN
1,2023-12-01,2024-11-23,1,UE000006,83,1U145500,INX150,231.18,NaN,2023-12-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,224.24
2,2024-01-01,2024-11-23,1,UE000006,84,1U145500,INX150,230.15,NaN,2024-01-02,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,223.25
3,2024-02-01,2024-11-23,1,UE000006,85,1U145500,INX150,235.35,NaN,2024-02-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,228.29
4,2024-03-01,2024-11-23,1,UE000006,86,1U145500,INX150,273.14,NaN,2024-03-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,264.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700641,2024-11-01,2024-11-26,1,U0982392,1,1U147800,INXLOM,6.97,NaN,2024-11-01,...,1.00,0.12,0.00,0.00,0.00,0.02,0.24,0.95,1.00,8.21
1700642,2024-11-01,2024-11-26,1,U0982392,1,1U147800,INXHIM,6.83,NaN,2024-11-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.95,1.00,10.38
1700643,2024-11-01,2024-11-26,1,U0982392,1,1U147800,INDEX,7.12,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,6.76
1700644,2024-11-01,2024-11-26,1,U0982392,1,1U147800,MARPRT,7.12,NaN,2024-11-01,...,2.40,10.00,0.00,0.00,0.00,0.00,0.00,0.95,1.00,16.23
1700645,2024-11-01,2024-11-26,1,U0982392,1,1U147800,NASIDX,7.18,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,6.82

datetime.date(2024, 12, 1)

In [ ]:
dec_inf_df[dec_inf_df['AsOfDt']<dec_inf.inforce_dt]

,InforceDt,AsOfDt,CompID,PolicyNum,PHA_Num,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
0,2023-11-01,2024-11-23,1,UE000006,82,1U145500,INX150,NaN,19.65,2023-11-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,NaN
1,2023-12-01,2024-11-23,1,UE000006,83,1U145500,INX150,231.18,NaN,2023-12-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,224.24
2,2024-01-01,2024-11-23,1,UE000006,84,1U145500,INX150,230.15,NaN,2024-01-02,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,223.25
3,2024-02-01,2024-11-23,1,UE000006,85,1U145500,INX150,235.35,NaN,2024-02-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,228.29
4,2024-03-01,2024-11-23,1,UE000006,86,1U145500,INX150,273.14,NaN,2024-03-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,264.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700641,2024-11-01,2024-11-26,1,U0982392,1,1U147800,INXLOM,6.97,NaN,2024-11-01,...,1.00,0.12,0.00,0.00,0.00,0.02,0.24,0.95,1.00,8.21
1700642,2024-11-01,2024-11-26,1,U0982392,1,1U147800,INXHIM,6.83,NaN,2024-11-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.95,1.00,10.38
1700643,2024-11-01,2024-11-26,1,U0982392,1,1U147800,INDEX,7.12,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,6.76
1700644,2024-11-01,2024-11-26,1,U0982392,1,1U147800,MARPRT,7.12,NaN,2024-11-01,...,2.40,10.00,0.00,0.00,0.00,0.00,0.00,0.95,1.00,16.23
1700645,2024-11-01,2024-11-26,1,U0982392,1,1U147800,NASIDX,7.18,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,6.82

In [74]:
jan_inf_df

,InforceDt,AsOfDt,CompID,PolicyNum,PHA_Num,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
0,2023-12-01,2024-12-23,1,UE000006,83,1U145500,INX150,NaN,19.65,2023-12-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,NaN
1,2024-01-01,2024-12-23,1,UE000006,84,1U145500,INX150,230.15,NaN,2024-01-02,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,223.25
2,2024-02-01,2024-12-23,1,UE000006,85,1U145500,INX150,235.35,NaN,2024-02-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,228.29
3,2024-03-01,2024-12-23,1,UE000006,86,1U145500,INX150,273.14,NaN,2024-03-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,264.95
4,2024-04-01,2024-12-23,1,UE000006,87,1U145500,INX150,272.31,NaN,2024-04-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,264.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1249564,2024-12-01,2024-12-20,1,U0982402,1,1U147800,INXLOM,1.22,NaN,2024-12-02,...,1.00,0.12,0.00,0.00,0.00,0.02,0.24,0.95,1.00,1.44
1249565,2024-12-01,2024-12-20,1,U0982402,1,1U147800,INXHIM,1.19,NaN,2024-12-02,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.95,1.00,1.81
1249566,2024-12-01,2024-12-20,1,U0982402,1,1U147800,INDEX,1.24,NaN,2024-12-02,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,1.18
1249567,2024-12-01,2024-12-20,1,U0982402,1,1U147800,MARPRT,1.24,NaN,2024-12-02,...,2.40,10.00,0.00,0.00,0.00,0.00,0.00,0.95,1.00,2.83
1249568,2024-12-01,2024-12-20,1,U0982402,1,1U147800,NASIDX,1.27,NaN,2024-12-02,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,1.21

In [75]:
jan_inf_df[jan_inf_df['AsOfDt']<jan_inf.inforce_dt]

,InforceDt,AsOfDt,CompID,PolicyNum,PHA_Num,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
0,2023-12-01,2024-12-23,1,UE000006,83,1U145500,INX150,NaN,19.65,2023-12-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,NaN
1,2024-01-01,2024-12-23,1,UE000006,84,1U145500,INX150,230.15,NaN,2024-01-02,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,223.25
2,2024-02-01,2024-12-23,1,UE000006,85,1U145500,INX150,235.35,NaN,2024-02-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,228.29
3,2024-03-01,2024-12-23,1,UE000006,86,1U145500,INX150,273.14,NaN,2024-03-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,264.95
4,2024-04-01,2024-12-23,1,UE000006,87,1U145500,INX150,272.31,NaN,2024-04-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,264.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1249564,2024-12-01,2024-12-20,1,U0982402,1,1U147800,INXLOM,1.22,NaN,2024-12-02,...,1.00,0.12,0.00,0.00,0.00,0.02,0.24,0.95,1.00,1.44
1249565,2024-12-01,2024-12-20,1,U0982402,1,1U147800,INXHIM,1.19,NaN,2024-12-02,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.95,1.00,1.81
1249566,2024-12-01,2024-12-20,1,U0982402,1,1U147800,INDEX,1.24,NaN,2024-12-02,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,1.18
1249567,2024-12-01,2024-12-20,1,U0982402,1,1U147800,MARPRT,1.24,NaN,2024-12-02,...,2.40,10.00,0.00,0.00,0.00,0.00,0.00,0.95,1.00,2.83
1249568,2024-12-01,2024-12-20,1,U0982402,1,1U147800,NASIDX,1.27,NaN,2024-12-02,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,1.21

In [76]:
dec_inf_df[dec_inf_df['AsOfDt']<dec_inf.inforce_dt].groupby('HedgeDate').agg({'PolicyNum':'count', 'Base_Liab_Ntnl': 'sum', 'Adj_Liab_Ntnl': 'sum'})

            PolicyNum  Base_Liab_Ntnl  Adj_Liab_Ntnl
HedgeDate
2023-11-01      89702            0.00           0.00
2023-12-01      90575   54,663,770.94  56,255,554.12
2024-01-02      91723   58,751,787.54  60,500,774.44
2024-02-01      92853   59,874,784.08  61,185,301.91
2024-03-01      93775   55,703,016.87  57,195,104.93
2024-04-01      94949   56,604,214.85  58,374,176.52
2024-05-01      95770   53,714,416.99  57,644,976.72
2024-06-03      96762   52,880,223.64  55,054,798.40
2024-07-01      97677   63,052,655.94  66,348,904.94
2024-08-01      98210   58,957,980.57  61,640,511.06
2024-09-03      99004   60,257,097.85  61,307,500.49
2024-10-01      99617   69,745,247.97  70,717,961.81
2024-11-01     100596   70,529,136.11  71,991,181.96

In [77]:
jan_inf_df[jan_inf_df['AsOfDt']<jan_inf.inforce_dt].groupby('HedgeDate').agg({'PolicyNum':'count', 'Base_Liab_Ntnl': 'sum', 'Adj_Liab_Ntnl': 'sum'})

            PolicyNum  Base_Liab_Ntnl  Adj_Liab_Ntnl
HedgeDate
2023-12-01      90334            0.00           0.00
2024-01-02      91481   58,555,665.68  60,269,646.10
2024-02-01      92613   59,738,832.95  61,046,020.25
2024-03-01      93537   55,548,864.97  57,006,464.75
2024-04-01      94712   55,925,079.27  57,707,624.57
2024-05-01      95533   52,870,910.45  56,815,800.07
2024-06-03      96530   52,527,852.93  54,702,411.38
2024-07-01      97451   62,875,785.40  66,162,550.82
2024-08-01      97982   58,775,614.71  61,446,256.05
2024-09-03      98771   59,036,732.77  60,137,006.81
2024-10-01      99381   69,500,233.99  70,467,046.85
2024-11-01     100384   70,279,441.22  71,733,087.33
2024-12-02     100860   67,850,571.30  69,213,470.10

In [27]:
raw_inf_df[raw_inf_df['PolicyNum']=='U0639357']

,InforceDt,AsOfDt,CompID,PolicyNum,PHA_Num,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
1413348,2023-11-01,2024-11-23,1,U0639357,65,1U144600,INDEX,NaN,"4,893.63",2023-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN
1413349,2023-12-01,2024-11-23,1,U0639357,66,1U144600,INDEX,"1,067.62",NaN,2023-12-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"1,035.59"
1413350,2024-01-01,2024-11-23,1,U0639357,67,1U144600,INDEX,121.13,NaN,2024-01-02,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.97,1.00,117.50
1413351,2024-02-01,2024-11-23,1,U0639357,68,1U144600,INDEX,626.69,NaN,2024-02-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.97,1.00,607.89
1413352,2024-03-01,2024-11-23,1,U0639357,69,1U144600,INDEX,94.65,NaN,2024-03-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.97,1.00,91.81
1413353,2024-04-01,2024-11-23,1,U0639357,70,1U144600,INDEX,69.17,NaN,2024-04-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.97,1.00,67.09
1413354,2024-05-01,2024-11-23,1,U0639357,71,1U144600,INDEX,158.72,NaN,2024-05-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.97,1.00,153.96
1413355,2024-06-01,2024-11-23,1,U0639357,72,1U144600,INDEX,108.36,NaN,2024-06-03,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.97,1.00,105.11
1413356,2024-07-01,2024-11-23,1,U0639357,73,1U144600,INDEX,201.71,NaN,2024-07-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.97,1.00,195.66
1413357,2024-08-01,2024-11-23,1,U0639357,74,1U144600,INDEX,525.13,NaN,2024-08-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.97,1.00,509.38
1413358,2024-09-01,2024-11-23,1,U0639357,75,1U144600,INDEX,147.25,NaN,2024-09-03,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,139.89
1413359,2024-10-01,2024-11-23,1,U0639357,76,1U144600,INDEX,66.31,NaN,2024-10-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,62.99
1413360,2024-11-01,2024-11-23,1,U0639357,77,1U144600,INDEX,"55,063.63",NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,"52,310.45"

In [11]:
raw_inf_df.columns

Index(['InforceDt', 'AsOfDt', 'CompID', 'PolicyNum', 'PHA_Num', 'Plan',
       'Indicator', 'Base_Liab_Ntnl', 'Idx_Credit', 'HedgeDate', 'ExpiryDt',
       'Product_Detail', 'Product', 'Budget', 'Part', 'Cap', 'Floor',
       'Spec_Rate', 'Spread', 'Asset_Charge', 'Multiplier', 'HdgFctr',
       'Strike', 'Adj_Liab_Ntnl'],
      dtype='object')

In [12]:
nov_inf_df = raw_inf_df[raw_inf_df['HedgeDate']==date(2024, 11, 1)]

In [28]:
nov_inf_df[nov_inf_df['AsOfDt']<date(2024, 12, 1)]

,InforceDt,AsOfDt,CompID,PolicyNum,PHA_Num,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
12,2024-11-01,2024-11-23,1,UE000006,94,1U145500,INX150,275.68,NaN,2024-11-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.95,1.01,261.90
25,2024-11-01,2024-11-23,1,UE000006,94,1U145500,INXFEE,329.03,NaN,2024-11-01,...,1.00,10.00,0.00,0.00,0.08,0.00,0.00,0.95,1.08,312.58
50,2024-11-01,2024-11-09,1,UE000011,96,1U145500,INX150,296.32,NaN,2024-11-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.95,1.01,281.50
76,2024-11-01,2024-11-09,1,UE000012,94,1U145500,INX150,282.22,NaN,2024-11-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.95,1.01,268.11
90,2024-11-01,2024-11-20,1,UE000013,87,1U145500,INX150,74.20,NaN,2024-11-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.95,1.01,70.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700641,2024-11-01,2024-11-26,1,U0982392,1,1U147800,INXLOM,6.97,NaN,2024-11-01,...,1.00,0.12,0.00,0.00,0.00,0.02,0.24,0.95,1.00,8.21
1700642,2024-11-01,2024-11-26,1,U0982392,1,1U147800,INXHIM,6.83,NaN,2024-11-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.95,1.00,10.38
1700643,2024-11-01,2024-11-26,1,U0982392,1,1U147800,INDEX,7.12,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,6.76
1700644,2024-11-01,2024-11-26,1,U0982392,1,1U147800,MARPRT,7.12,NaN,2024-11-01,...,2.40,10.00,0.00,0.00,0.00,0.00,0.00,0.95,1.00,16.23
1700645,2024-11-01,2024-11-26,1,U0982392,1,1U147800,NASIDX,7.18,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,6.82

In [40]:
nov_inf_df[(nov_inf_df['AsOfDt']<date(2024, 12, 1)) & (nov_inf_df['Indicator']=='INDEX')]

,InforceDt,AsOfDt,CompID,PolicyNum,PHA_Num,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
102,2024-11-01,2024-11-20,1,UE000024,79,1U145500,INDEX,92.77,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,88.13
115,2024-11-01,2024-11-17,1,UE000042,68,1U145500,INDEX,62.22,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,59.11
140,2024-11-01,2024-11-06,1,UE000057,95,1U145500,INDEX,100.18,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,95.17
154,2024-11-01,2024-11-18,1,UE000062,88,1U145500,INDEX,236.71,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,224.87
167,2024-11-01,2024-11-22,1,UE000064,96,1U145500,INDEX,"1,118.69",NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,"1,062.76"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700584,2024-11-01,2024-11-01,1,U0982310,3,1U147800,INDEX,72.17,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,68.56
1700604,2024-11-01,2024-11-02,1,U0982337,1,1U147800,INDEX,1.74,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,1.65
1700624,2024-11-01,2024-11-01,1,U0982348,2,1U147800,INDEX,20.81,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,19.77
1700637,2024-11-01,2024-11-12,1,U0982360,1,1U147800,INDEX,0.69,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,0.66
1700643,2024-11-01,2024-11-26,1,U0982392,1,1U147800,INDEX,7.12,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,6.76

In [49]:
# nov_hdg_file = r'C:\Users\S0053071\Repos\Orion_Process_Backup\2024_Nov_Inforce_FromHdgFiles_INDEX_ONLY.xlsx'
nov_hdg_file = r'C:\Users\S0053071\Repos\Orion_Process_Backup\2024_Nov_Inforce_FromHdgFiles_INDEX_ONLY_NoDupes.xlsx'
nov_hdg_df = pd.read_excel(nov_hdg_file)
nov_hdg_df['HedgeDate'] = pd.to_datetime(nov_hdg_df['HedgeDate']).dt.date
nov_hdg_df['IssueDate'] = pd.to_datetime(nov_hdg_df['IssueDate']).dt.date

In [50]:
nov_hdg_df

,Source,HedgeDate,CompID,PolicyNum,IssueDate,Plan,Indicator,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,Strike,Budget,HdgFctr,Base_Liab_Ntnl,Adj_Liab_Ntnl
0,2024_12_TRUE_UP,2024-11-01,1,U0627927,2011-03-31,1U144600,INDEX,1,0.10,0,0,0,0,0,1,0.05,0.95,"1,095.46","1,040.69"
1,2024_12_TRUE_UP,2024-11-01,1,U0631191,2011-11-08,1U144600,INDEX,1,0.10,0,0,0,0,0,1,0.05,0.95,"16,396.81","15,576.97"
2,2024_12_TRUE_UP,2024-11-01,1,U0631300,2012-02-01,1U144600,INDEX,1,0.10,0,0,0,0,0,1,0.05,0.95,485.31,461.04
3,2024_12_TRUE_UP,2024-11-01,1,U0633654,2012-03-11,1U144600,INDEX,1,0.10,0,0,0,0,0,1,0.05,0.95,340.75,323.71
4,2024_12_TRUE_UP,2024-11-01,1,U0634131,2012-03-28,1U144600,INDEX,1,0.10,0,0,0,0,0,1,0.05,0.95,444.39,422.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58123,2024_11_TRUE_UP,2024-11-01,1,UP000043,2021-12-28,1U147500,INDEX,1,0.10,0,0,0,0,0,1,0.06,0.95,"1,407.67","1,337.29"
58124,2024_11_TRUE_UP,2024-11-01,1,UP000074,2023-02-06,1U147500,INDEX,1,0.10,0,0,0,0,0,1,0.06,0.95,540.03,513.03
58125,2024_11_TRUE_UP,2024-11-01,1,UP800007,2018-10-09,1U145500,INDEX,1,0.10,0,0,0,0,0,1,0.05,0.95,"43,069.89","40,916.40"
58126,2024_11_TRUE_UP,2024-11-01,1,UP800009,2018-10-12,1U145500,INDEX,1,0.10,0,0,0,0,0,1,0.05,0.95,122.57,116.44
58127,2024_11_TRUE_UP,2024-11-01,1,UPE00008,2018-07-16,1U146400,INDEX,1,0.10,0,0,0,0,0,1,0.05,0.95,927.96,881.56

In [51]:
reduced_cols = ['HedgeDate', 'PolicyNum', 'Indicator', 'Base_Liab_Ntnl']
join_cols = ['HedgeDate', 'PolicyNum', 'Indicator']
nov_hdg_df_reduced = nov_hdg_df[reduced_cols]
nov_inf_df_reduced = nov_inf_df[(nov_inf_df['AsOfDt']<date(2024, 12, 1)) & (nov_inf_df['Indicator']=='INDEX')]
nov_inf_df_reduced = nov_inf_df_reduced[reduced_cols]
nov_hdg_df_reduced.rename(columns={'Base_Liab_Ntnl': 'Base_Liab_Ntnl_HEDGE'}, inplace=True)
nov_inf_df_reduced.rename(columns={'Base_Liab_Ntnl': 'Base_Liab_Ntnl_INFORCE'}, inplace=True)

In [52]:
nov_merged = nov_hdg_df_reduced.merge(nov_inf_df_reduced, on=join_cols, indicator=True)

In [53]:
nov_merged

,HedgeDate,PolicyNum,Indicator,Base_Liab_Ntnl_HEDGE,Base_Liab_Ntnl_INFORCE,_merge
0,2024-11-01,U0627927,INDEX,"1,095.46","1,126.01",both
1,2024-11-01,U0631191,INDEX,"16,396.81","16,396.81",both
2,2024-11-01,U0631300,INDEX,485.31,485.31,both
3,2024-11-01,U0633654,INDEX,340.75,340.73,both
4,2024-11-01,U0634131,INDEX,444.39,444.39,both
...,...,...,...,...,...,...
57699,2024-11-01,UP000043,INDEX,"1,407.67","1,407.67",both
57700,2024-11-01,UP000074,INDEX,540.03,540.03,both
57701,2024-11-01,UP800007,INDEX,"43,069.89","43,069.89",both
57702,2024-11-01,UP800009,INDEX,122.57,122.57,both
57703,2024-11-01,UPE00008,INDEX,927.96,927.96,both

In [54]:
nov_merged.to_clipboard()

In [55]:
pols_not_in_inf_df = pd.merge(nov_hdg_df_reduced, nov_inf_df_reduced, how='outer', on=join_cols, indicator=True)
pols_not_in_hdg_df = pd.merge(nov_hdg_df_reduced, nov_inf_df_reduced, how='outer', on=join_cols, indicator=True)

In [60]:
pols_not_in_inf_df[pols_not_in_inf_df['_merge'] == 'left_only'].groupby('HedgeDate').agg({'Base_Liab_Ntnl_HEDGE': 'sum', 'PolicyNum': 'count'})

            Base_Liab_Ntnl_HEDGE  PolicyNum
HedgeDate
2024-11-01            238,698.10        424

In [61]:
pols_not_in_hdg_df[pols_not_in_hdg_df['_merge'] == 'right_only'].groupby('HedgeDate').agg({'Base_Liab_Ntnl_INFORCE': 'sum', 'PolicyNum': 'count'})

            Base_Liab_Ntnl_INFORCE  PolicyNum
HedgeDate
2024-11-01                1,565.88         14

In [64]:
pols_not_in_inf_df[pols_not_in_inf_df['_merge'] == 'left_only']

,HedgeDate,PolicyNum,Indicator,Base_Liab_Ntnl_HEDGE,Base_Liab_Ntnl_INFORCE,_merge
227,2024-11-01,U0629040,INDEX,142.28,NaN,left_only
443,2024-11-01,U0634924,INDEX,675.61,NaN,left_only
666,2024-11-01,U0639870,INDEX,691.14,NaN,left_only
714,2024-11-01,U0641656,INDEX,21.53,NaN,left_only
903,2024-11-01,U0644280,INDEX,"2,315.74",NaN,left_only
...,...,...,...,...,...,...
56827,2024-11-01,UIP97953,INDEX,17.06,NaN,left_only
57312,2024-11-01,UNE02468,INDEX,56.70,NaN,left_only
57594,2024-11-01,UNE03986,INDEX,103.01,NaN,left_only
58040,2024-11-01,UNS01048,INDEX,"2,094.47",NaN,left_only
58130,2024-11-01,UNS02994,INDEX,75.93,NaN,left_only

In [63]:
pols_not_in_hdg_df[pols_not_in_hdg_df['_merge'] == 'right_only']

,HedgeDate,PolicyNum,Indicator,Base_Liab_Ntnl_HEDGE,Base_Liab_Ntnl_INFORCE,_merge
1954,2024-11-01,U0662738,INDEX,NaN,44.29,right_only
8053,2024-11-01,U0947606,INDEX,NaN,44.96,right_only
8054,2024-11-01,U0947607,INDEX,NaN,44.96,right_only
8462,2024-11-01,U0952955,INDEX,NaN,22.28,right_only
15780,2024-11-01,UE029745,INDEX,NaN,11.72,right_only
19101,2024-11-01,UE048661,INDEX,NaN,147.27,right_only
19847,2024-11-01,UE053442,INDEX,NaN,40.34,right_only
39565,2024-11-01,UE207350,INDEX,NaN,69.97,right_only
40512,2024-11-01,UE213012,INDEX,NaN,13.14,right_only
42772,2024-11-01,UE226889,INDEX,NaN,32.88,right_only
43747,2024-11-01,UE233362,INDEX,NaN,545.84,right_only
45210,2024-11-01,UE243796,INDEX,NaN,249.57,right_only
45994,2024-11-01,UE253455,INDEX,NaN,6.00,right_only
56942,2024-11-01,UN013118,INDEX,NaN,292.66,right_only

In [66]:

raw_inf_df[raw_inf_df['PolicyNum']=='UE243796']

,InforceDt,AsOfDt,CompID,PolicyNum,PHA_Num,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
1085116,2024-10-01,2024-11-21,1,UE243796,1,1U147800,INDEX,76.10,NaN,2024-10-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,72.29
1085117,2024-11-01,2024-11-21,1,UE243796,2,1U147800,INDEX,249.57,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,237.09

In [45]:
nov_merged[nov_merged['_merge']=='both']

,HedgeDate,PolicyNum,Indicator,Base_Liab_Ntnl_HEDGE,Base_Liab_Ntnl_INFORCE,_merge
0,2024-11-01,U0681175,INDEX,"134,657.62","134,657.62",both
1,2024-11-01,U0967324,INDEX,"82,467.93","82,467.93",both
2,2024-11-01,UIP41754,INDEX,"67,743.52","68,307.57",both
3,2024-11-01,U0639357,INDEX,"55,063.63","55,063.63",both
4,2024-11-01,UIP42263,INDEX,"49,112.69","49,488.73",both
...,...,...,...,...,...,...
58296,2024-11-01,UNS03006,INDEX,78.44,78.44,both
58297,2024-11-01,UNS03009,INDEX,13.30,13.30,both
58298,2024-11-01,UNS03024,INDEX,5.45,5.45,both
58299,2024-11-01,UNS03037,INDEX,49.70,49.70,both
58300,2024-11-01,UNS03055,INDEX,65.76,65.76,both

In [47]:
nov_merged[nov_merged['_merge']=='right_only']

Empty DataFrame
Columns: [HedgeDate, PolicyNum, Indicator, Base_Liab_Ntnl_HEDGE, Base_Liab_Ntnl_INFORCE, _merge]
Index: []

In [44]:
nov_merged['_merge'].unique()

['both']
Categories (3, object): ['left_only', 'right_only', 'both']

In [13]:
nov_inf_df[nov_inf_df['AsOfDt']<date(2024, 12, 1)].groupby('Indicator').agg({'PolicyNum':'count', 'Base_Liab_Ntnl': 'sum', 'Adj_Liab_Ntnl': 'sum'})

           PolicyNum  Base_Liab_Ntnl  Adj_Liab_Ntnl
Indicator
INDEX          57718   48,474,255.20  45,904,510.59
INX150          3100    3,239,155.72   3,063,688.18
INXFEE         21580   11,419,303.77  10,832,223.00
INXHIM          6054    2,645,870.94   4,021,723.83
INXLOM          2498      866,929.10   1,021,242.48
INXSPC          1230      383,167.80     362,310.40
MARPRT          5505    2,605,181.61   5,934,975.11
NASIDX          2911      895,271.97     850,508.37

In [14]:
nov_inf_df[nov_inf_df['AsOfDt']<date(2024, 12, 1)].groupby('HedgeDate').agg({'PolicyNum':'count', 'Base_Liab_Ntnl': 'sum', 'Adj_Liab_Ntnl': 'sum'})

            PolicyNum  Base_Liab_Ntnl  Adj_Liab_Ntnl
HedgeDate
2024-11-01     100596   70,529,136.11  71,991,181.96

In [15]:
nov_inf_df[nov_inf_df['AsOfDt']>=date(2024, 12, 1)].groupby('HedgeDate').agg({'PolicyNum':'count', 'Base_Liab_Ntnl': 'sum', 'Adj_Liab_Ntnl': 'sum'})

            PolicyNum  Base_Liab_Ntnl  Adj_Liab_Ntnl
HedgeDate
2024-11-01      37220   26,096,882.72  26,686,521.49

In [18]:
# Applied functions
def get_min_row(group):
    return group.loc[group['AsOfDt'].idxmin()]

def get_max_row(group):
    return group.loc[group['AsOfDt'].idxmax()]

In [19]:
# groupby_cols = ['TCH_POL_ID', 'CK_CMP_CD', 'PLN_DES_SER_CD', 'FND_ID_CD', 'ITS_PER_STR_DT','FND_VAL_PHA_NBR']
groupby_cols = ['PolicyNum', 'CompID', 'Plan', 'Indicator', 'InforceDt','PHA_Num']
grouped_data = nov_inf_df.groupby(groupby_cols, as_index=False)

In [20]:
nov_min = grouped_data.apply(get_min_row)

C:\Users\S0053071\AppData\Local\Temp\ipykernel_13480\3760098876.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  nov_min = grouped_data.apply(get_min_row)

,InforceDt,AsOfDt,CompID,PolicyNum,PHA_Num,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
0,2024-11-01,2024-11-17,1,U0600938,159,1U144600,INDEX,"1,232.12",NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,"1,170.51"
1,2024-11-01,2024-11-20,1,U0600943,155,1U144600,INDEX,467.32,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,443.95
2,2024-11-01,2024-11-22,1,U0600960,95,1U144600,INDEX,"4,178.56",NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,"3,969.63"
3,2024-11-01,2024-11-22,1,U0600961,92,1U144600,INDEX,"3,232.99",NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,"3,071.34"
4,2024-11-01,2024-11-15,1,U0600963,156,1U144600,INDEX,"1,378.59",NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,"1,309.66"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100591,2024-11-01,2024-11-12,1,UP800009,62,1U145500,INDEX,122.57,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,116.44
100592,2024-11-01,2024-11-16,1,UPE00008,70,1U146400,INDEX,927.96,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,881.56
100593,2024-11-01,2024-11-16,1,UPE00008,70,1U146400,INX150,"2,046.69",NaN,2024-11-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.95,1.01,"1,944.36"
100594,2024-11-01,2024-11-16,1,UPE00008,70,1U146400,INXFEE,"1,089.39",NaN,2024-11-01,...,1.00,10.00,0.00,0.00,0.08,0.00,0.00,0.95,1.08,"1,034.92"
100595,2024-11-01,2024-11-16,1,UPE00008,62,1U146400,INXSPC,149.16,NaN,2024-11-01,...,1.00,0.07,0.00,0.07,0.00,0.00,0.00,0.95,1.00,141.70

In [21]:
nov_max = grouped_data.apply(get_max_row)

C:\Users\S0053071\AppData\Local\Temp\ipykernel_13480\2697659405.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  nov_max = grouped_data.apply(get_max_row)

In [22]:
nov_min.reset_index(drop=True).groupby('HedgeDate').agg({'PolicyNum':'count', 'Base_Liab_Ntnl': 'sum', 'Adj_Liab_Ntnl': 'sum'})

            PolicyNum  Base_Liab_Ntnl  Adj_Liab_Ntnl
HedgeDate
2024-11-01     100596   70,529,136.11  71,991,181.96

In [23]:
nov_max.reset_index(drop=True).groupby('HedgeDate').agg({'PolicyNum':'count', 'Base_Liab_Ntnl': 'sum', 'Adj_Liab_Ntnl': 'sum'})

            PolicyNum  Base_Liab_Ntnl  Adj_Liab_Ntnl
HedgeDate
2024-11-01     100596   70,471,673.20  71,929,533.08

In [5]:
dec_inf.inforce_df

,InforceDt,AsOfDt,CompID,PolicyNum,PHA_Num,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
0,2023-11-01,2024-11-23,1,UE000006,82,1U145500,INX150,NaN,19.65,2023-11-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,NaN
1,2023-12-01,2024-11-23,1,UE000006,83,1U145500,INX150,231.18,NaN,2023-12-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,224.24
2,2024-01-01,2024-11-23,1,UE000006,84,1U145500,INX150,230.15,NaN,2024-01-02,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,223.25
3,2024-02-01,2024-11-23,1,UE000006,85,1U145500,INX150,235.35,NaN,2024-02-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,228.29
4,2024-03-01,2024-11-23,1,UE000006,86,1U145500,INX150,273.14,NaN,2024-03-01,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.97,1.01,264.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1241208,2024-11-01,2024-11-26,1,U0982392,1,1U147800,INXLOM,6.97,NaN,2024-11-01,...,1.00,0.12,0.00,0.00,0.00,0.02,0.24,0.95,1.00,8.21
1241209,2024-11-01,2024-11-26,1,U0982392,1,1U147800,INXHIM,6.83,NaN,2024-11-01,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.95,1.00,10.38
1241210,2024-11-01,2024-11-26,1,U0982392,1,1U147800,INDEX,7.12,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,6.76
1241211,2024-11-01,2024-11-26,1,U0982392,1,1U147800,MARPRT,7.12,NaN,2024-11-01,...,2.40,10.00,0.00,0.00,0.00,0.00,0.00,0.95,1.00,16.23
1241212,2024-11-01,2024-11-26,1,U0982392,1,1U147800,NASIDX,7.18,NaN,2024-11-01,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,6.82

In [13]:
dec_inf.inforce_df.columns

Index(['InforceDt', 'CompID', 'PolicyNum', 'PHA_Num', 'Plan', 'Indicator',
       'Base_Liab_Ntnl', 'Idx_Credit', 'HedgeDate', 'ExpiryDt',
       'Product_Detail', 'Product', 'Budget', 'Part', 'Cap', 'Floor',
       'Spec_Rate', 'Spread', 'Asset_Charge', 'Multiplier', 'HdgFctr',
       'Strike', 'Adj_Liab_Ntnl'],
      dtype='object')

In [12]:
dec_inf_df = dec_inf.inforce_df

In [6]:
dec_inf_df[dec_inf_df['HedgeDate']==date(2024,11,1)]

,InforceDt,CompID,PolicyNum,PHA_Num,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,ExpiryDt,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
12,2024-11-01,1,UE000006,94,1U145500,INX150,275.68,NaN,2024-11-01,2025-10-31,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.95,1.01,261.90
25,2024-11-01,1,UE000006,94,1U145500,INXFEE,329.03,NaN,2024-11-01,2025-10-31,...,1.00,10.00,0.00,0.00,0.08,0.00,0.00,0.95,1.08,312.58
50,2024-11-01,1,UE000011,96,1U145500,INX150,296.32,NaN,2024-11-01,2025-10-31,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.95,1.01,281.50
51,2024-11-01,1,UE000011,96,1U145500,INX150,296.32,NaN,2024-11-01,2025-10-31,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.95,1.01,281.50
76,2024-11-01,1,UE000012,94,1U145500,INX150,282.22,NaN,2024-11-01,2025-10-31,...,1.00,0.09,0.01,0.00,0.00,0.00,0.00,0.95,1.01,268.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1700641,2024-11-01,1,U0982392,1,1U147800,INXLOM,6.97,NaN,2024-11-01,2025-10-31,...,1.00,0.12,0.00,0.00,0.00,0.02,0.24,0.95,1.00,8.21
1700642,2024-11-01,1,U0982392,1,1U147800,INXHIM,6.83,NaN,2024-11-01,2025-10-31,...,1.00,0.12,0.00,0.00,0.00,0.04,0.60,0.95,1.00,10.38
1700643,2024-11-01,1,U0982392,1,1U147800,INDEX,7.12,NaN,2024-11-01,2025-10-31,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,6.76
1700644,2024-11-01,1,U0982392,1,1U147800,MARPRT,7.12,NaN,2024-11-01,2025-10-31,...,2.40,10.00,0.00,0.00,0.00,0.00,0.00,0.95,1.00,16.23
1700645,2024-11-01,1,U0982392,1,1U147800,NASIDX,7.18,NaN,2024-11-01,2025-10-31,...,1.00,0.10,0.00,0.00,0.00,0.00,0.00,0.95,1.00,6.82

In [8]:
nov_24_hedges_in_dec_24_inf_file = r'C:\Users\S0053071\Repos\Orion_Process_Backup\Nov_24_Hedges_In_Dec_24_Inforce.csv'
nov_24_hedges_in_dec_24_inf_df = dec_inf_df[dec_inf_df['HedgeDate']==date(2024,11,1)]
nov_24_hedges_in_dec_24_inf_df.to_csv(nov_24_hedges_in_dec_24_inf_file, index=False)

In [15]:
dec_inf_df[dec_inf_df['PolicyNum']=='UE000260']

,InforceDt,AsOfDt,CompID,PolicyNum,PHA_Num,Plan,Indicator,Base_Liab_Ntnl,Idx_Credit,HedgeDate,...,Part,Cap,Floor,Spec_Rate,Spread,Asset_Charge,Multiplier,HdgFctr,Strike,Adj_Liab_Ntnl
1001,2023-11-01,2024-11-01,1,UE000260,80,1U145800,INDEX,NaN,264.71,2023-11-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN
1002,2023-11-01,2024-12-01,1,UE000260,80,1U145800,INDEX,NaN,264.71,2023-11-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN
1003,2023-12-01,2024-11-01,1,UE000260,81,1U145800,INDEX,"5,068.05",NaN,2023-12-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"4,916.01"
1004,2023-12-01,2024-12-01,1,UE000260,81,1U145800,INDEX,NaN,367.43,2023-12-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,NaN
1005,2024-01-01,2024-11-01,1,UE000260,82,1U145800,INDEX,"10,476.66",NaN,2024-01-02,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"10,162.36"
1006,2024-01-01,2024-12-01,1,UE000260,82,1U145800,INDEX,"10,476.66",NaN,2024-01-02,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"10,162.36"
1007,2024-02-01,2024-11-01,1,UE000260,83,1U145800,INDEX,"6,232.10",NaN,2024-02-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"6,045.14"
1008,2024-02-01,2024-12-01,1,UE000260,83,1U145800,INDEX,"6,232.10",NaN,2024-02-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"6,045.14"
1009,2024-03-01,2024-11-01,1,UE000260,84,1U145800,INDEX,"6,027.03",NaN,2024-03-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"5,846.22"
1010,2024-03-01,2024-12-01,1,UE000260,84,1U145800,INDEX,"6,027.03",NaN,2024-03-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"5,846.22"
1011,2024-04-01,2024-11-01,1,UE000260,85,1U145800,INDEX,"9,123.01",NaN,2024-04-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"8,849.32"
1012,2024-04-01,2024-12-01,1,UE000260,85,1U145800,INDEX,"9,123.01",NaN,2024-04-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"8,849.32"
1013,2024-05-01,2024-11-01,1,UE000260,86,1U145800,INDEX,"6,901.09",NaN,2024-05-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"6,694.06"
1014,2024-05-01,2024-12-01,1,UE000260,86,1U145800,INDEX,"6,901.09",NaN,2024-05-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"6,694.06"
1015,2024-06-01,2024-11-01,1,UE000260,87,1U145800,INDEX,"5,984.95",NaN,2024-06-03,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"5,805.40"
1016,2024-06-01,2024-12-01,1,UE000260,87,1U145800,INDEX,"5,984.95",NaN,2024-06-03,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"5,805.40"
1017,2024-07-01,2024-11-01,1,UE000260,88,1U145800,INDEX,"6,206.52",NaN,2024-07-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"6,020.32"
1018,2024-07-01,2024-12-01,1,UE000260,88,1U145800,INDEX,"6,206.52",NaN,2024-07-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"6,020.32"
1019,2024-08-01,2024-11-01,1,UE000260,89,1U145800,INDEX,"5,195.78",NaN,2024-08-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"5,039.91"
1020,2024-08-01,2024-12-01,1,UE000260,89,1U145800,INDEX,"5,195.78",NaN,2024-08-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.97,1.00,"5,039.91"
1021,2024-09-01,2024-11-01,1,UE000260,90,1U145800,INDEX,"36,847.33",NaN,2024-09-03,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.95,1.00,"35,004.96"
1022,2024-09-01,2024-12-01,1,UE000260,90,1U145800,INDEX,"36,847.33",NaN,2024-09-03,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.95,1.00,"35,004.96"
1023,2024-10-01,2024-11-01,1,UE000260,91,1U145800,INDEX,"6,039.39",NaN,2024-10-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.95,1.00,"5,737.42"
1024,2024-10-01,2024-12-01,1,UE000260,91,1U145800,INDEX,"6,039.39",NaN,2024-10-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.95,1.00,"5,737.42"
1025,2024-11-01,2024-11-01,1,UE000260,92,1U145800,INDEX,"4,635.46",NaN,2024-11-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.95,1.00,"4,403.69"
1026,2024-11-01,2024-12-01,1,UE000260,92,1U145800,INDEX,"4,635.46",NaN,2024-11-01,...,1.00,0.07,0.00,0.00,0.00,0.00,0.00,0.95,1.00,"4,403.69"

In [11]:
inf_desired_cols = ['CompID', 'PolicyNum', 'Plan', 'Product_Detail', 'Product', 'Indicator', 'HedgeDate', 'Cap',  'Strike', 'Base_Liab_Ntnl', 'Adj_Liab_Ntnl']
dec_inf_df = dec_inf_df[inf_desired_cols]

In [14]:
# dec_inf_df[(dec_inf_df['PolicyNum']=='UE000260') & (dec_inf_df['PolicyNum']=='UE000260')]
dec_inf_df[dec_inf_df['PolicyNum']=='UE000260'].to_clipboard()

In [5]:
dec_inf_df[dec_inf_df['HedgeDate']==date(2024,11,1)]['Base_Liab_Ntnl'].sum()

np.float64(96626018.83)

In [16]:
dec_inf_df[(dec_inf_df['HedgeDate']==date(2024,11,1)) & (dec_inf_df['AsOfDt']<date(2024,12,1))]['Base_Liab_Ntnl'].sum()

np.float64(70529136.11)

In [13]:
dec_inf_df['AsOfDt'].unique()

array([datetime.date(2024, 11, 23), datetime.date(2024, 11, 9),
       datetime.date(2024, 12, 9), datetime.date(2024, 11, 20),
       datetime.date(2024, 11, 17), datetime.date(2024, 11, 6),
       datetime.date(2024, 12, 6), datetime.date(2024, 11, 18),
       datetime.date(2024, 11, 22), datetime.date(2024, 11, 24),
       datetime.date(2024, 11, 11), datetime.date(2024, 11, 28),
       datetime.date(2024, 11, 15), datetime.date(2024, 11, 27),
       datetime.date(2024, 11, 26), datetime.date(2024, 11, 8),
       datetime.date(2024, 12, 8), datetime.date(2024, 11, 25),
       datetime.date(2024, 11, 12), datetime.date(2024, 11, 14),
       datetime.date(2024, 11, 5), datetime.date(2024, 12, 5),
       datetime.date(2024, 11, 19), datetime.date(2024, 11, 21),
       datetime.date(2024, 11, 7), datetime.date(2024, 12, 7),
       datetime.date(2024, 11, 2), datetime.date(2024, 12, 2),
       datetime.date(2024, 11, 16), datetime.date(2024, 11, 1),
       datetime.date(2024, 12, 1), datetime.date(2024, 11, 13),
       datetime.date(2024, 11, 4), datetime.date(2024, 12, 4),
       datetime.date(2024, 11, 3), datetime.date(2024, 12, 3),
       datetime.date(2024, 11, 10), datetime.date(2024, 12, 10),
       datetime.date(2024, 11, 30), datetime.date(2024, 11, 29)],
      dtype=object)

In [14]:
dec_inf_df.groupby('AsOfDt').agg({'PolicyNum':'count'})

            PolicyNum
AsOfDt
2024-11-01     116293
2024-11-02      36878
2024-11-03      39380
2024-11-04      32227
2024-11-05      46612
2024-11-06      34880
2024-11-07      34682
2024-11-08      36226
2024-11-09      34598
2024-11-10      47716
2024-11-11      32500
2024-11-12      34146
2024-11-13      32337
2024-11-14      33646
2024-11-15      99768
2024-11-16      40504
2024-11-17      35244
2024-11-18      37645
2024-11-19      33424
2024-11-20      59778
2024-11-21      34973
2024-11-22      36049
2024-11-23      30618
2024-11-24      27620
2024-11-25      41070
2024-11-26      31461
2024-11-27      34466
2024-11-28      81381
2024-11-29      10511
2024-11-30      14580
2024-12-01     116293
2024-12-02      36852
2024-12-03      39380
2024-12-04      32227
2024-12-05      46592
2024-12-06      34880
2024-12-07      34682
2024-12-08      36226
2024-12-09      34585
2024-12-10      47716

In [17]:
70.5/71.5

0.986013986013986