In [1]:
import datetime as dt
import pandas as pd

from xbbg import blp
import blpapi

In [3]:
# MktData_Dir = './MktData/'
MktData_Dir = './'

# tickers = ['NDX Index', 'SPX Index', 'SPMARC5P Index']
tickers = ['MXEA Index', 'RTY Index', 'NDX Index', 'SPX Index', 'SPMARC5P Index']
# tickers = ['SPX Index', 'RSP US Equity', 'VIX Index']
fields = ['Last_Price']
# start_date = '2023-06-30'
# start_date = '2022-12-30'
start_date = '2021-12-30'
# start_date = '2021-12-31'
end_date = dt.datetime.today().strftime("%Y-%m-%d")

price_data = blp.bdh(tickers=tickers, flds=fields, start_date=start_date, end_date=end_date)

price_data.index.name = 'AsOfDate'
price_data.columns = price_data.columns.get_level_values(0)
# price_df

file_name = 'OrionWinterfell_Index_Prices.csv'
# file_name = 'SPX_RSP_VIX.csv'
price_data.to_csv(MktData_Dir + file_name)

In [4]:
dt.datetime.today().strftime("%Y-%m-%d")

'2024-11-12'

In [21]:
price_df = price_data.copy(deep=True)

In [15]:
price_df.index

Index([2023-06-30, 2023-07-03, 2023-07-05, 2023-07-06, 2023-07-07, 2023-07-10,
       2023-07-11, 2023-07-12, 2023-07-13, 2023-07-14,
       ...
       2024-10-30, 2024-10-31, 2024-11-01, 2024-11-04, 2024-11-05, 2024-11-06,
       2024-11-07, 2024-11-08, 2024-11-11, 2024-11-12],
      dtype='object', length=346)

In [29]:
price_df.index.name = 'AsOfDate'
price_df.columns = price_df.columns.get_level_values(0)
price_df
# price_df.set_index('AsOfDate', inplace=True)

            NDX Index  SPX Index  SPMARC5P Index
AsOfDate
2023-06-30   15179.21    4450.38          359.31
2023-07-03   15208.69    4455.59          358.99
2023-07-05   15203.78    4446.82          358.05
2023-07-06   15089.45    4411.59          356.04
2023-07-07   15036.85    4398.95          356.62
...               ...        ...             ...
2024-11-06   20781.33    5929.04          383.94
2024-11-07   21101.57    5973.10          386.47
2024-11-08   21117.18    5995.54          386.63
2024-11-11   21106.59    6001.35          384.09
2024-11-12   21070.79    5983.99          382.76

[346 rows x 3 columns]

In [16]:
price_df.columns

MultiIndex([(     'NDX Index', 'Last_Price'),
            (     'SPX Index', 'Last_Price'),
            ('SPMARC5P Index', 'Last_Price')],
           )

In [28]:
price_df.columns.get_level_values(0), price_df.columns.get_level_values(1)

(Index(['NDX Index', 'SPX Index', 'SPMARC5P Index'], dtype='object'),
 Index(['Last_Price', 'Last_Price', 'Last_Price'], dtype='object'))

In [17]:
price_df.index.name = 'AsOfDate'

In [18]:
price_df.index.get_level_values(0)

Index([2023-06-30, 2023-07-03, 2023-07-05, 2023-07-06, 2023-07-07, 2023-07-10,
       2023-07-11, 2023-07-12, 2023-07-13, 2023-07-14,
       ...
       2024-10-30, 2024-10-31, 2024-11-01, 2024-11-04, 2024-11-05, 2024-11-06,
       2024-11-07, 2024-11-08, 2024-11-11, 2024-11-12],
      dtype='object', name='AsOfDate', length=346)

In [20]:
price_data

            NDX Index  SPX Index SPMARC5P Index
           Last_Price Last_Price     Last_Price
2023-06-30   15179.21    4450.38         359.31
2023-07-03   15208.69    4455.59         358.99
2023-07-05   15203.78    4446.82         358.05
2023-07-06   15089.45    4411.59         356.04
2023-07-07   15036.85    4398.95         356.62
...               ...        ...            ...
2024-11-06   20781.33    5929.04         383.94
2024-11-07   21101.57    5973.10         386.47
2024-11-08   21117.18    5995.54         386.63
2024-11-11   21106.59    6001.35         384.09
2024-11-12   21070.79    5983.99         382.76

[346 rows x 3 columns]

In [3]:
import datetime as dt
import pandas as pd

MktData_Dir = './'
file_name = 'OrionWinterfell_Index_Prices.csv'

price_df = pd.read_csv(MktData_Dir + file_name)

In [4]:
price_df

        AsOfDate  MXEA Index  RTY Index  NDX Index  SPX Index  SPMARC5P Index
0     2020-12-30     2161.48   1979.992   12845.36    3732.04          386.29
1     2020-12-31     2147.53   1974.855   12888.28    3756.07          387.10
2     2021-01-01     2147.53        NaN        NaN        NaN             NaN
3     2021-01-04     2162.36   1945.914   12694.66    3700.65          387.90
4     2021-01-05     2163.59   1979.108   12802.38    3726.86          387.89
...          ...         ...        ...        ...        ...             ...
1027  2024-12-06     2354.96   2408.995   21622.25    6090.27          388.29
1028  2024-12-09     2361.79   2392.836   21440.82    6052.85          387.77
1029  2024-12-10     2334.93   2382.774   21368.18    6034.91          387.92
1030  2024-12-11     2336.13   2394.159   21763.98    6084.19          388.99
1031  2024-12-12         NaN   2380.686   21674.28    6075.23             NaN

[1032 rows x 6 columns]

In [6]:
price_df.columns[1:]

Index(['MXEA Index', 'RTY Index', 'NDX Index', 'SPX Index', 'SPMARC5P Index'], dtype='object')

In [1]:
import datetime as dt
import pandas as pd
from xbbg import blp
import blpapi
import os

In [5]:
# MktData_Dir = './MktData/'
MktData_Dir = './'
# MktData_Dir = os.path.dirname(os.path.abspath(__file__))
file_name = 'OrionWinterfell_Index_Prices.csv'

mkt_file = os.path.join(MktData_Dir, file_name)

# First get existing prices from file
price_df = pd.read_csv(mkt_file)

# Make sure the field is a date
price_df['AsOfDate'] = pd.to_datetime(price_df['AsOfDate']).dt.date

# Get dates for which price data is not already present
last_date = price_df['AsOfDate'].max()

# Subtract 1day because we want latest end of day prices, and they may not be ready for today
end_dt = dt.datetime.today() + pd.DateOffset(days=-1)

# Convert 1st and last dates to strings
last_date = last_date.strftime("%Y-%m-%d")
end_dt = end_dt.strftime("%Y-%m-%d")
# Get other needed bdh params
tickers = price_df.columns[1:]
fields = ['Last_Price']

# Get Missing Data
new_price_df = blp.bdh(tickers=tickers, flds=fields, start_date=last_date, end_date=end_dt)
new_price_df.index.name = 'AsOfDate'
new_price_df.columns = new_price_df.columns.get_level_values(0)
new_price_df = new_price_df.reset_index()
new_price_df['AsOfDate'] = pd.to_datetime(new_price_df['AsOfDate']).dt.date

# Concat the dataframes together
combinded_px_df = pd.concat([price_df, new_price_df], ignore_index=True)

In [6]:
combinded_px_df

        AsOfDate  MXEA Index  RTY Index  NDX Index  SPX Index  SPMARC5P Index
0     2020-12-30     2161.48   1979.992   12845.36    3732.04          386.29
1     2020-12-31     2147.53   1974.855   12888.28    3756.07          387.10
2     2021-01-01     2147.53        NaN        NaN        NaN             NaN
3     2021-01-04     2162.36   1945.914   12694.66    3700.65          387.90
4     2021-01-05     2163.59   1979.108   12802.38    3726.86          387.89
...          ...         ...        ...        ...        ...             ...
1029  2024-12-09     2361.79   2392.836   21440.82    6052.85          387.77
1030  2024-12-10     2334.93   2382.774   21368.18    6034.91          387.92
1031  2024-12-11     2336.13   2394.159   21763.98    6084.19          388.99
1032  2024-12-12     2337.98   2361.081   21615.27    6051.25          386.69
1033  2024-12-13     2319.05   2346.895   21780.25    6051.09          384.87

[1034 rows x 6 columns]

In [3]:
new_price_df

            MXEA Index  RTY Index  NDX Index  SPX Index  SPMARC5P Index
AsOfDate
2024-10-28     2368.95   2244.068   20351.07    5823.52          386.90
2024-10-29     2360.55   2238.089   20550.65    5832.92          387.85
2024-10-30     2353.78   2233.036   20387.70    5813.67          388.05
2024-10-31     2332.94   2196.652   19890.42    5705.45          384.51
2024-11-01     2336.19   2210.133   20033.14    5728.80          384.08
2024-11-04     2343.24   2219.033   19963.60    5712.69          384.32
2024-11-05     2350.30   2260.844   20227.46    5782.76          385.44
2024-11-06     2320.36   2392.923   20781.33    5929.04          383.94
2024-11-07     2354.11   2382.690   21101.57    5973.10          386.47
2024-11-08     2336.75   2399.639   21117.18    5995.54          386.63
2024-11-11     2331.90   2434.979   21106.59    6001.35          384.09
2024-11-12     2293.20   2391.848   21070.79    5983.99          382.76
2024-11-13     2276.84   2369.374   21036.16    5985.38          382.32
2024-11-14     2286.26   2336.939   20896.67    5949.17          381.77
2024-11-15     2275.34   2303.835   20394.13    5870.62          380.71
2024-11-18     2276.84   2306.340   20539.19    5893.62          382.21
2024-11-19     2283.12   2324.827   20684.59    5916.98          383.25
2024-11-20     2264.32   2325.534   20667.10    5917.11          383.47
2024-11-21     2270.79   2364.018   20740.78    5948.71          384.09
2024-11-22     2274.28   2406.670   20776.23    5969.34          385.49
2024-11-25     2293.55   2442.031   20804.89    5987.37          385.09
2024-11-26     2279.04   2424.309   20922.90    6021.63          385.26
2024-11-27     2294.57   2426.192   20744.49    5998.74          386.06
2024-11-28     2302.19        NaN        NaN        NaN             NaN
2024-11-29     2315.77   2434.726   20930.37    6032.38          387.45
2024-12-02     2319.85   2434.139   21164.60    6047.15          386.98
2024-12-03     2346.74   2416.349   21229.32    6049.88          386.97
2024-12-04     2345.26   2426.564   21492.36    6086.49          388.24
2024-12-05     2358.26   2396.169   21425.22    6075.11          387.31
2024-12-06     2354.96   2408.995   21622.25    6090.27          388.29
2024-12-09     2361.79   2392.836   21440.82    6052.85          387.77
2024-12-10     2334.93   2382.774   21368.18    6034.91          387.92
2024-12-11     2336.13   2394.159   21763.98    6084.19          388.99
2024-12-12     2337.98   2361.081   21615.27    6051.25          386.69
2024-12-13     2319.05   2346.895   21780.25    6051.09          384.87

In [4]:
price_df

       AsOfDate  MXEA Index  RTY Index  NDX Index  SPX Index  SPMARC5P Index
0    2020-12-30     2161.48   1979.992   12845.36    3732.04          386.29
1    2020-12-31     2147.53   1974.855   12888.28    3756.07          387.10
2    2021-01-01     2147.53        NaN        NaN        NaN             NaN
3    2021-01-04     2162.36   1945.914   12694.66    3700.65          387.90
4    2021-01-05     2163.59   1979.108   12802.38    3726.86          387.89
..          ...         ...        ...        ...        ...             ...
994  2024-10-22     2372.99   2231.529   20383.65    5851.20          388.55
995  2024-10-23     2352.34   2213.839   20066.96    5797.42          386.33
996  2024-10-24     2360.20   2218.922   20232.87    5809.86          387.53
997  2024-10-25     2361.47   2207.995   20352.02    5808.12          387.29
998  2024-10-28     2368.95   2244.068   20351.07    5823.52          386.90

[999 rows x 6 columns]